DATABASE_URL=mongodb://127.0.0.1/payload-plugin-template
PAYLOAD_SECRET=YOUR_SECRET_HERE

# Shortcut (workspace is implied by the token)
SHORTCUT_TOKEN=
SHORTCUT_STORY_TEMPLATE_ID=66703692-42a0-457d-b9c0-34e04b9a5a07
